{
	"presets": [
		"es2015"
	],
	"comments": false,
	"plugins": ["minify-constant-folding", "minify-mangle-names"],
	"env": {
		"production": {
			"presets": [
				"babili"
			]
		}
	},
	"ignore": [
		"src/*",
		"typings/*",
		"node_modules/*"
	]
}
