<!DOCTYPE html>
<!--suppress MagicNumberJS -->
<html lang="ru" ng-app="calculatorApplication">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
	<script src="dist/threeCSG.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/threejs/r83/three.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
	<link rel="stylesheet" href="index.css">
</head>
<body>
<script>
	calculatorApplication = angular.module('calculatorApplication', ['ngMaterial']);
</script>
<div layout="row" ng-controller="calculatorController">
	<div flex="50" ng-cloak layout="column">
		<div layout="row" layout-margin>
			<div flex="20">
				<md-input-container>
					<label>Высота</label>
					<md-select ng-model="cupboard.height" placeholder="Высота"
					           ng-init="cupboard.height = heights[0]; ChangeHeight();"
					           ng-change="ChangeHeight()"
					           name="cupboardHeight"
					           id="cupboardHeight">
						<md-option ng-value="height" ng-repeat="height in heights">{{ height.title }} мм</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label>Ширина</label>
					<md-select ng-model="cupboard.width" placeholder="Ширина"
					           ng-init="cupboard.width = widths[0]; ChangeWidth();"
					           ng-change="ChangeWidth()"
					           name="cupboardWidth"
					           id="cupboardWidth">
						<md-option ng-value="width" ng-repeat="width in widths">{{ width.title }} мм</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex="20">
				<md-input-container>
					<label>Глубина</label>
					<md-select ng-model="cupboard.deep" placeholder="Глубина"
					           ng-init="cupboard.deep = deeps[0]; ChangeDeep();"
					           ng-change="ChangeDeep()"
					           name="cupboardDeep"
					           id="cupboardDeep">
						<md-option ng-value="deep" ng-repeat="deep in deeps">{{ deep.title }} мм</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div flex="40">
				<md-slider-container>
					<!--span>Полки</span -->
					<label>Полки</label>
					<md-slider md-discrete md-range flex min="0"
					           ng-init="cupboard.shelves = cupboard.height.shelves.min; ChangeShelves();"
					           max="{{cupboard.height.shelves.max}}"
					           ng-model="cupboard.shelves"
					           ng-change="ChangeShelves();"
					           aria-label="Глубина" id="red-slider">
					</md-slider>
					<!--md-input-container>
						<input flex type="number" ng-model="cupboard.shelves" aria-label="Глубина"
						       aria-controls="red-slider">
					</md-input-container -->
				</md-slider-container>
			</div>
		</div>
		<div layout="row" layout-margin>
			<md-card flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Под условие подходят ящики</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-content class="md-padding" layout-xs="column" layout="column">

						<md-grid-list flex
						              md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="8"
						              md-row-height-gt-md="1:1.2" md-row-height="4:3"
						              md-gutter="8px" md-gutter-gt-sm="4px">

							<md-grid-tile ng-repeat="box in boxResult"
							              md-rowspan="2"
							              md-colspan="2"
							>
								<md-card flex class="box-item"
								         ng-class="(box.id==selectedBox.id)?'selected':'unselected'"
								         ng-click="BoxClick(box)">
									<img ng-src="{{box.image}}" class="md-card-image" alt="Washed Out">
									<md-card-content>
										<p>{{box.deep}}x{{box.width}}x{{box.height}}</p>
									</md-card-content>
								</md-card>
							</md-grid-tile>
						</md-grid-list>

					</md-content>
				</md-card-content>
			</md-card>

		</div>
		<div layout="row" layout-margin>
			<md-card flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Спецификация</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-list class="md-dense">
						<md-list-item><span flex="40">Наименование</span><span flex="20"><span class="red">К</span>ол-во</span><span
							flex="20"><span class="red">Ц</span>ена за ед.</span><span flex="20"><span
							class="red">С</span>умма, руб</span></md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-click="null"><span flex="40">Стойка <span class="red">в комплекте</span></span><span
							flex="20">4</span><span flex="20">{{cupboard.height.price}}</span><span flex="20">{{cupboard.height.price*4}}</span>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-click="null"><span flex="40">Полка <span class="red">{{cupboard.width.value}}x{{cupboard.deep.value}}</span></span><span
							flex="20">{{shelvesCount}}</span><span flex="20">{{cupboard.deep.price}}</span><span
							flex="20">{{(shelvesCount) * cupboard.deep.price}}</span></md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-click="null" ng-if="selectedBox"><span flex="40">Ящик <span class="red">{{selectedBox.id}}</span></span><span
							flex="20">{{boxCount * shelvesCount}}</span><span
							flex="20">{{selectedBox.price}}</span><span flex="20">{{boxCount * shelvesCount * selectedBox.price}}</span>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-click="null"><span flex="80">Итого <span
							class="red">к оплате</span></span><span flex="20" class="red"><strong>{{(cupboard.height.price*4) + ((shelvesCount) * cupboard.deep.price) + ((boxCount *
							shelvesCount *
							selectedBox.price)||0)}} руб</strong></span></md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div flex="50" layout-margin>
		<div id="visualization"></div>
		<div ng-cloak>
			<md-button class="md-raised md-primary" ng-disabled="buttonLock" ng-click="SendOrder();">Отправить менеджеру</md-button>
			<md-button class="md-raised md-warn" ng-disabled="true">Поделиться</md-button>
		</div>
	</div>
</div>

<script src="dist/index.js"></script>

</body>
</html>
