<!DOCTYPE html>
<!--suppress MagicNumberJS -->
<html lang="ru" ng-app="calculatorApplication">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="dist/threeCSG.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/threejs/r83/three.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<link rel="stylesheet" href="index.css">
</head>
<body>
<script>
	calculatorApplication = angular.module('calculatorApplication', []);
</script>
<div class="container" ng-controller="calculatorController">
	<div class="row">
		<div class="col-xs-5" ng-cloak>
			<!--div class="container-fluid" -->
				<div class="row">
					<div class="">
						<div class="col-xs-3">
						<div class="form-group">
							<label for="cupboardHeight" class="control-label">Высота</label>
							<div class="">
								<select ng-model="cupboard.height"
								        ng-init="cupboard.height = heights[0]; ChangeHeight();"
								        ng-change="ChangeHeight()"
								        name="cupboardHeight"
								        id="cupboardHeight"
								        class="form-control"
								        ng-options="height.title + ' мм' for height in heights track by height.value">
								</select>
							</div>
						</div></div>
						<div class="col-xs-3">
						<div class="form-group">
							<label for="cupboardWidth" class="control-label">Ширина</label>
							<div class="">
								<select ng-model="cupboard.width"
								        ng-init="cupboard.width = widths[0]; ChangeWidth();"
								        ng-change="ChangeWidth()"
								        name="cupboardWidth"
								        id="cupboardWidth"
								        class="form-control"
								        ng-options="width.title + ' мм' for width in widths track by width.value">
								</select>
							</div>
						</div></div>
						<div class="col-xs-3">
						<div class="form-group">
							<label for="cupboardDeep" class="control-label">Глубина</label>
							<div class="">
								<select ng-model="cupboard.deep"
								        name="cupboardDeep"
								        ng-init="cupboard.deep = deeps[0]; deepChanger();"
								        ng-change="ChangeDeep()"
								        id="cupboardDeep"
								        class="form-control"
								        ng-options="deep.title + ' мм' for deep in deeps track by deep.value">
								</select>
							</div>
						</div></div>
						<div class="col-xs-3">
							<div class="form-group">
								<label for="cupboardDeep" class="control-label">Полок</label>
								<div class="">
									<select ng-model="cupboard.height.shelves"
									        name="cupboardShelves"
									        ng-init="/*cupboard.deep = deeps[0]; deepChanger();*/"
									        ng-change="/*ChangeDeep()*/"
									        id="cupboardDeep"
									        class="form-control"
									        ng-options="deep.title + ' мм' for deep in deeps track by deep.value">
									</select>
								</div>
							</div></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-xs-12">
						<p>Под условие подходят ящики:</p>
						<div ng-repeat="box in boxResult" class="col-xs-3 box-item" ng-class="(box.id==selectedBox.id)?'selected':'unselected'" ng-click="BoxClick(box)">
							<h5>{{box.title}}</h5>
							<img src="{{box.image}}" class="img-responsive">
							<span>{{box.deep}}x{{box.width}}x{{box.height}}</span>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-xs-12">
						<table class="table hover">
							<thead>
							<tr>
								<th>Наименование</th>
								<th>Количество</th>
								<th>Цена, руб</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>Стойки</td>
								<td>4</td>
								<td>{{cupboard.height.price*4}}</td>
							</tr>
							<tr>
								<td>Полки</td>
								<td>{{shelvesCount+1}}</td>
								<td>{{(shelvesCount+1) * cupboard.deep.price}}</td>
							</tr>
							<tr>
								<td>Ящики</td>
								<td>{{boxCount * shelvesCount}}</td>
								<td>{{boxCount * shelvesCount * selectedBox.price}}</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="2">Итого</td>
								<td>{{(cupboard.height.price*4) + ((shelvesCount+1) * cupboard.deep.price) + (boxCount *
									shelvesCount *
									selectedBox.price)}}
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			<!-- /div -->

		</div>
		<div class="col-xs-7">
			<div id="visualization"></div>
		</div>
	</div>
</div>

<script src="dist/index.js"></script>

</body>
</html>
