<!DOCTYPE html>
<!--suppress MagicNumberJS -->
<html lang="en" ng-app="caclulatorApplication">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="three.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<link rel="stylesheet" href="index.scss">
</head>
<body>
<script>
	var caclulatorApplication = angular.module('caclulatorApplication', []);
</script>
<div class="container" ng-controller="calculatorController">
	<div class="col-xs-5">
		<div>
			<div class="form-group">
				<label for="cupboardHeight">Мне нужен шкаф высотой:</label>
				<select ng-model="cupboard.height"
				        ng-init="cupboard.height = heights[0];ChangeHeight();"
				        ng-change="ChangeHeight()"
				        name="cupboardHeight"
				        id="cupboardHeight"
				        class="form-control"
				        ng-options="height.title + ' мм' for height in heights track by height.value">
				</select>
			</div>
			<div class="form-group">
				<label for="cupboardWidth">Его ширина должна быть</label>
				<select ng-model="cupboard.width"
				        ng-init="cupboard.width = widths[0];ChangeWidth();"
				        ng-change="ChangeWidth()"
				        name="cupboardWidth"
				        id="cupboardWidth"
				        class="form-control"
				        ng-options="width.title + ' мм' for width in widths track by width.value">
				</select>
			</div>
			<div class="form-group">
				<label for="cupboardDeep">И глубина</label>
				<select ng-model="cupboard.deep"
				        name="cupboardDeep"
				        ng-init="cupboard.deep = deeps[0]"
				        ng-change="ChangeDeep()"
				        id="cupboardDeep"
				        class="form-control"
				        ng-options="deep.title + ' мм' for deep in deeps track by deep.value">
				</select>
			</div>
		</div>

		<div class="clearfix">
			<p>Под условие подходят ящики:</p>
			<div ng-repeat="box in boxResult" class="col-xs-3" ng-click="BoxClick(box)">
				<h5>{{box.title}}</h5>
				<img src="{{box.image}}" class="img-responsive">
				<span>{{box.deep}}x{{box.width}}x{{box.height}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-7">

		<p class="text-muted">Стойки * 4: {{cupboard.height.price}}rur * 4</p>
		<p class="text-muted">Растояние между полками: {{cupboard.height.value / cupboard.shelve.value}}</p>
		<p class="text-muted">Полки ({{cupboard.width.value}}x{{cupboard.deep.value}}) * {{cupboard.shelve.value}}:
			{{cupboard.deep.price}}rur * {{cupboard.shelve.value}}</p>
		<p class="text-muted">В ряд влезает {{boxLineCount}} полок</p>
		<p class="text-info"><strong>Итого:</strong> {{totalPrice}} rur</p>
		<!-- div style="height: {{drawHeight + 'px'}}; background-color: #808080;" id="drawings">
			<div id="stoyka-01" ng-style="drawing.stoyka1"></div>
			<div id="stoyka-02" ng-style="drawing.stoyka2"></div>
			<div class="shelve" ng-repeat="shelve in drawing.shelves" ng-style="shelve"></div>
			<svg ng-repeat="box in drawing.boxes" ng-style="box.style" preserveAspectRatio="none">
				<path id="lineAB" style="transform: scale({{box.path.xscale}}, {{box.path.yscale}})" d="M 1 0
				l 117 0
				l 0 5
				q 0 5 -5 5
				l 0 75
				q 5 0 5 5
				l -117 0
				q 0 -5 5 -5
				l 0 -75
				q -5 0 -5 -5
				l 0 -5" stroke="darkgrey" stroke-width="1" fill="lightblue"/>
			</svg>
			< ! -- div class="boxes" ng-repeat="box in drawing.boxes" ng-style="box"></div -- >
		</div -->
		<div id="visualization"></div>
	</div>
</div>

<script src="index.js"></script>

</body>
</html>
